/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.intro__container {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.intro__container img {
  width: 100%;
}

.intro__link {
  font-family: fantasy, cursive, Arial, sans-serif;
}

.task-board__container {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task__box {
  display: flex;
}

.task__text,
.task__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  vertical-align: middle;
}

.task__edit-btn,
.task__del-btn {
  vertical-align: middle;
}

.intro__title,
.task-board__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.task__list {
  margin: 0;
  padding: 0;
}

.task__text--outline,
.btn {
  outline: none;
}

.btn {
  background: none;
  border: 0;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, Arial, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3a3a;
}

/* Heading */
.task__title,
.task > label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task__text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, Arial, sans-serif;
  color: #888;
}

.task__text:focus {
  color: #333;
}

/* New Task */
.task-board__container > .task__label {
  display: block;
  margin: 0 0 20px;
}

.task__add {
  width: 318px;
}

/* Task list */
.task__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__checkbox {
  margin: 0 10px;
  vertical-align: middle;
}

.task__item > .task__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task__item > .task__text {
  width: 226px;
}

.task__del-btn img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task__del-btn img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed .task__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task__item .task__text {
  display: none;
}

.task__item--edit .task__text {
  display: inline-block;
  width: 224px;
}

.task__item--edit .task__label {
  display: none;
}

@media (max-width:768px) {

  .intro__container {
    text-align: center;
  }

}
